html {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  background-color: #283747;
  color: #fff;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h2 {
  color: #f36;
}

.masthead,
.footer {
  background-color: #283747;
  color: #d5d8dc;
}

.nav a {
  border-bottom: .08em solid #f36;
  color: #fff;
  text-decoration: none;

}

.logo {
  width: 64px;
}

.banner-content {
  color: #fff;
  text-shadow: .05em .05em .15em rgba(0, 0, 0, .6);
  text-align: right;
}
