html {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h2 {
  color: #283747  ;
}

.masthead,
.footer {
  background-color: #283747  ;
  color: #D5D8DC;
}

.nav a {
  border-bottom: .08em solid #ff3366;
  color: #fff;
  text-decoration: none;

}

.logo {
  width: 64px;
}

.banner-content {
  color: #fff;
  text-shadow: .1em .1em .3em rgba(0, 0, 0, .6);
  text-align: right;
}
